apiVersion: apps/v1
kind: Deployment
metadata:
  name: deliverxy-backend
  namespace: deliverxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deliverxy-backend
  template:
    metadata:
      labels:
        app: deliverxy-backend
    spec:
      containers:
      - name: backend
        image: redbfs/deliverxy-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
          # ConfigMap values
          - name: SPRING_DATASOURCE_URL
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: SPRING_DATASOURCE_URL
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: SPRING_DATASOURCE_USERNAME
          - name: POSTGRES_DB
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: POSTGRES_DB
          - name: POSTGRES_USER
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: POSTGRES_USER
          - name: BACKEND_PORT
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: BACKEND_PORT
          - name: FRONTEND_PORT
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: FRONTEND_PORT
          - name: POSTGRES_PORT
            valueFrom:
              configMapKeyRef:
                name: deliverxy-config
                key: POSTGRES_PORT

          # Secret values
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: SPRING_DATASOURCE_PASSWORD
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: app-secret
                key: JWT_SECRET

          # Set Spring active profile here:
          - name: SPRING_PROFILES_ACTIVE
            value: prod  # Production environment
          - name: APP_UPLOADS_DIR
            value: "/app/uploads"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        volumeMounts:
          - name: uploads-volume
            mountPath: /app/uploads
      volumes:
        - name: uploads-volume
          persistentVolumeClaim:
            claimName: uploads-pvc
