name: AWS CD

on:
  workflow_run:
    workflows: ["CI - Build and Push Docker Images"]
    types:
      - completed

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull redbfs/deliverxy-backend:latest
            docker pull redbfs/deliverxy-frontend-admin:latest
            docker compose -f /home/ec2-user/DeliverXY/docker-compose.yml down
            docker compose -f /home/ec2-user/DeliverXY/docker-compose.yml up -d
